<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Kiosco Saludable{% endblock %}</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/main/icono.ico') }}"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
  </head>

  <body>
    <!-- NAV SUPERIOR -->
    {% block nav %} {% include 'navbar.html' %} {% endblock %}
    <!-- FIN NAV SUPERIOR  -->

    <div class="slider">
      <div class="slide-track">
        {% for _ in range(14) %}
        <div class="slide">
          <img
            src="{{ url_for('static', filename='img/main/infinito.png') }}"
            alt=""
            id="slider"
          />
        </div>
        {% endfor %}
      </div>
    </div>

    <div class="contenedor">
      <div class="container">
        <div class="main-img">
          <img
            src="{{ url_for('static', filename='img/productos/tutifruti.jpg') }}"
            alt=""
            id="tuti"
          />
        </div>
        <div class="info">
          <div class="info-2">
            <h1 class="info-prin">LA BUENA SALUD ES NUESTRO PROPOSITO</h1>
            <img
              src="https://media-public.canva.com/r8qD4/MAE4sIr8qD4/1/t.png"
              alt=""
              class="diseño"
            />
          </div>
          <div class="info-2">
            <div>
              <img
                src="https://media-public.canva.com/FrN8Y/MAE73fFrN8Y/1/t.png"
                alt=""
                class="frutas"
              />
            </div>
            <h2 class="info-info">Vive, Siente, Come lo saludable sabe bien</h2>
          </div>
        </div>
      </div>

      <div class="contenedor">
        <div class="container-2">
          <div class="beneficios">
            <h1>BENEFICIOS</h1>
            <p>
              ¡Regístrate en Kiosco Saludable y obtén beneficios exclusivos!
              Acumula puntos Saludables en cada compra y canjéalos por productos
              gratis.
            </p>
            <a href="{{ url_for('cuenta') }}"
              ><button class="btnn">Registrarse</button></a
            >
          </div>
          <div>
            <img
              src="https://video-public.canva.com/VADfLetydAM/videos/dd1c69bd57.gif"
              alt=""
            />
          </div>
          <div class="minimini">
            <img
              src="https://media-public.canva.com/YQ98s/MAFK4DYQ98s/1/t.png"
              alt=""
            />
            <p>$300</p>
          </div>
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container-5">
        <div class="footer-row">
          <div class="footer-link">
            <h4 id="informacion">Sobre nosotros</h4>
            <ul>
              <li><a href="">Nuestra hisotria</a></li>
              <li><a href="">Nuestra Mision</a></li>
              <li><a href="">Nuestros productos</a></li>
              <li><a href="">Trabaja con nosotros</a></li>
            </ul>
          </div>
          <div class="footer-link">
            <h4 id="informacion">Impacto social</h4>
            <ul>
              <li><a href="">Sustentabilidad</a></li>
              <li><a href=""></a></li>
            </ul>
          </div>
          <div class="footer-link">
            <h4 id="informacion">Información</h4>
            <ul>
              <li><a href="">Contános</a></li>
              <li><a href="">Preguntas frecuentes</a></li>
            </ul>
          </div>
          <div class="footer-link">
            <h4 id="informacion">Siguenos</h4>
            <div class="redes">
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="derechos">
      <p>
        TM © 2024 Kiosco Saludable Corporation. Todos los derechos reservados.
      </p>
    </div>
  </body>

  <script src="{{ url_for('static', filename='script.js') }}"></script>

  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

  <script src="scripts/script.js"></script>

  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
</html>
