<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planes de Comida Saludable</title>
    <link rel="stylesheet" href="styles/main.css" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles/main.css') }}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='img/main/icono.ico') }}"
    />
    <link
      rel="stylesheet"
      href="path/to/font-awesome/css/font-awesome.min.css"
    />
  </head>

  <body>
    {% block nav %} {% include 'navbar.html' %} {% endblock %}

    <div class="slider">
      <div class="slide-track">
        {% for _ in range(14) %}
        <div class="slide">
          <img
            src="{{ url_for('static', filename='img/main/infinito.png') }}"
            alt=""
            id="slider"
          />
        </div>
        {% endfor %}
      </div>
    </div>

    {# FIN DEL NAVBAR #}
    <div class="plan-content"></div>
    <div class="main-plans">
      <section class="pricing-plans">
        <h1 class="title-plans">Planes de Comida Saludable</h1>
        <div class="plans">
          <!-- Plan Básico -->
          <div class="plan basic">
            <h2 class="sub-plans">Snack Rápido</h2>
            <p class="price"><span>$3.000</span> CLP / semana</p>
            <p class="marg">
              Un snack saludable diario para mantener tu energía durante el día.
            </p>
            <ul>
              <li class="marg">Energía Instantánea</li>
              <li class="marg">Conveniencia</li>
              <li class="marg">Variedad de Opciones</li>
              <li class="marg">Asequible</li>
            </ul>
            <button class="plan-button">Comenzar prueba gratis</button>
          </div>

          <!-- Plan Intermedio (Destacado) -->
          <div class="plan popular">
            <h2>Almuerzo Saludable</h2>
            <div class="most-popular">Más popular</div>
            <p class="price"><span>$15.000</span> CLP / semana</p>
            <p class="marg">
              Un almuerzo completo y equilibrado para cada día de la semana.
            </p>
            <ul>
              <li class="marg">Almuerzos Balanceados</li>
              <li class="marg">Sabor y Nutrición</li>
              <li class="marg">Control de Peso</li>
              <li class="marg">Flexibilidad</li>
            </ul>
            <button class="plan-button">Comprar ahora</button>
          </div>

          <!-- Plan Premium -->
          <div class="plan premium">
            <h2>Día Completo</h2>
            <p class="price"><span>$25.000</span> CLP / semana</p>
            <p class="marg">
              Cubre todas tus necesidades nutricionales diarias con desayuno,
              almuerzo y snack.
            </p>
            <ul>
              <li class="marg">Nutrición Completa</li>
              <li class="marg">Comodidad Total</li>
              <li class="marg">Ahorro de Tiempo</li>
              <li class="marg">Calidad Garantizada</li>
            </ul>
            <button class="plan-button">Contactar ventas</button>
          </div>
        </div>
      </section>
    </div>
    <footer class="footer">
      <div class="container-5">
        <div class="footer-row">
          <div class="footer-link">
            <h4 id="informacion">Sobre nosotros</h4>
            <ul>
              <li><a href="">Nuestra hisotria</a></li>
              <li><a href="">Nuestra Mision</a></li>
              <li><a href="">Nuestros productos</a></li>
              <li><a href="">Trabaja con nosotros</a></li>
            </ul>
          </div>
          <div class="footer-link">
            <h4 id="informacion">Impacto social</h4>
            <ul>
              <li><a href="">Sustentabilidad</a></li>
              <li><a href=""></a></li>
            </ul>
          </div>
          <div class="footer-link">
            <h4 id="informacion">Información</h4>
            <ul>
              <li><a href="">Contános</a></li>
              <li><a href="">Preguntas frecuentes</a></li>
            </ul>
          </div>
          <div class="footer-link">
            <h4 id="informacion">Siguenos</h4>
            <div class="redes">
              <a href=""><i class="fab fa-facebook-f"></i></a>
              <a href=""><i class="fab fa-instagram"></i></a>
              <a href=""><i class="fab fa-twitter"></i></a>
              <a href=""><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <div class="derechos">
      <p>
        TM © 2024 Kiosco Saludable Corporation. Todos los derechos reservados.
      </p>
    </div>
  </body>

  <script src="{{ url_for('static', filename='script.js') }}"></script>

  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

  <script src="scripts/script.js"></script>

  <script
    type="module"
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
  ></script>
  <script
    nomodule
    src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
  ></script>
</html>
