<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosco Saludable</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>

    <!-- NAV SUPERIOR -->

    <nav class="navbar">
        <div class="navbar-left">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/main/logo.png') }}" alt="Logo" class="logo">
            </a>
        </div>
        <div class="navbar-center">
            <ul>
                <li class="menu-container">
                    <a id="link-index" href="{{ url_for('index') }}" onclick="activateLink('link-index')">INICIO</a>
                </li>
                <li class="menu-container">
                    <a id="link-product" href="{{ url_for('product') }}" onclick="activateLink('link-product')">PIDE
                        AQUI</a>
                </li>
                <li class="menu-container">
                    <a id="link-contact" href="{{ url_for('contact') }}"
                        onclick="activateLink('link-contact')">AYUDA</a>
                </li>
            </ul>
        </div>
        <div class="navbar-right">
            <div class="usuario">
                <div id="perfil">
                    <div class="text">
                        <h3>GANA</h3>
                        <h6 class="minus">PUNTOS</h6>
                    </div>
                    <div>
                        <img src="{{ url_for('static', filename='img/main/corazon.png') }}" alt="" id="corazon">
                    </div>
                    <div class="text">
                        <h3>UNETE</h3>
                        <h6 class="minus">AQUI</h6>
                    </div>
                </div>
            </div>
            <div class="login">
                <a href="{{ url_for('cuenta') }}"><button class="btnn">Registrarse</button></a>
            </div>
        </div>
    </nav>
    <nav class="nav-superior" id="menu-mobile">
        <div class="navbar-left-">
            <a href="">
                <img src="{{ url_for('static', filename='img/main/logo.png') }}" alt="Logo" class="logo-">
            </a>
        </div>
        <ion-icon name="menu-outline" class="toggle-button" onclick="mostrar()"></ion-icon>
    </nav>

    <div class="content" id="mobile-menu">
        <div class="navbar-">

            <div class="navbar-right-">
                <div class="usuario-">
                    <div id="perfil">
                        <div class="text">
                            <h3>GANA</h3>
                            <h6 class="minus-">PUNTOS</h6>
                        </div>
                        <div>
                            <img src="{{ url_for('static', filename='img/main/corazon.png') }}" alt="" id="corazon-">
                        </div>
                        <div class="text">
                            <h3>UNETE</h3>
                            <h6 class="minus-">AQUI</h6>
                        </div>
                    </div>
                </div>
                <div class="login-">
                    <a href="{{ url_for('cuenta') }}"><button class="btnn">Registrarse</button></a>
                </div>
            </div>
            <div class="navbar-center-">
                <ul>
                    <li class="menu-container-"><a href="{{ url_for('index') }}">INICIO</a></li>
                    <li class="menu-container-"><a href="{{ url_for('product') }}">PIDE AQUI</a></li>
                    <li class="menu-container-"><a href="{{ url_for('contact') }}">AYUDA</a></li>
                </ul>
            </div>

        </div>
    </div>







    <div class="slider">
        <div class="slide-track">
            {% for _ in range(14) %}
            <div class="slide">
                <img src="{{ url_for('static', filename='img/main/infinito.png') }}" alt="" id="slider">
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="contenedor-categorias">
        <div class="categorias">
            <a href="#popular" class="categoria">POPULAR</a>
            <a href="#bebidas" class="categoria">BEBIDAS</a>
            <a href="#snaks" class="categoria">SNAKS</a>
            <a href="#frutas" class="categoria">FRUTAS</a>
            <a href="#lacteos" class="categoria">LACTEOS</a>
            <a href="#cereales" class="categoria">CEREALES Y CARBOIDRATOS</a>
        </div>
    </div>
    <div class="cons">
        <div class="Productos">
            <h2>POPULAR</h2 id="popular">
            <div class="center-div">
                <div class="ctg">
                    <ul class="los-productos">
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/granizado-fresa.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/cookie.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/baso-frutas.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/cereal.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/tutifruti.jpg') }}" alt=""></a></li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="Productos" id="bebidas">
            <h2 d="bebidas">BEBIDAS</h2>
            <div class="center-div">
                <div class="ctg">
                    <ul class="los-productos">
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/granizado-fresa.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/cookie.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/baso-frutas.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/cereal.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/tutifruti.jpg') }}" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Productos" id="snaks">
            <h2>SNAKS</h2>
            <div class="center-div">
                <div class="ctg">
                    <ul class="los-productos">
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/granizado-fresa.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/cookie.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/baso-frutas.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/cereal.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/tutifruti.jpg') }}" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Productos" id="frutas">
            <h2>FRUTAS</h2>
            <div class="center-div">
                <div class="ctg">
                    <ul class="los-productos">
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/granizado-fresa.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/cookie.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/baso-frutas.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/cereal.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/tutifruti.jpg') }}" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Productos" id="lacteos">
            <h2>LACTEOS</h2>
            <div class="center-div">
                <div class="ctg">
                    <ul class="los-productos">
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/granizado-fresa.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/cookie.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/baso-frutas.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/cereal.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/tutifruti.jpg') }}" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="Productos" id="cereales">
            <h2>CEREALES Y CARBOIDRATOS</h2>
            <div class="center-div">
               <div class="ctg">
                    <ul class="los-productos">
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/granizado-fresa.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/cookie.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/baso-frutas.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/cereal.jpg') }}" alt=""></a></li>
                        <li><a href=""><img class="el-producto" src="{{ url_for('static', filename='img/productos/tutifruti.jpg') }}" alt=""></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <!-- FIN NAV SUPERIOR  -->

    <footer class="footer">
        <div class="container-5">
            <div class="footer-row">
                <div class="footer-link">
                    <h4 id="informacion">Sobre nosotros</h4>
                    <ul>
                        <li><a href="">Nuestra hisotria</a></li>
                        <li><a href="">Nuestra Mision</a></li>
                        <li><a href="">Nuestros productos</a></li>
                        <li><a href="">Trabaja con nosotros</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <h4 id="informacion">Impacto social</h4>
                    <ul>
                        <li><a href="">Sustentabilidad</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <h4 id="informacion">Información</h4>
                    <ul>
                        <li><a href="">Contános</a></li>
                        <li><a href="">Preguntas frecuentes</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <h4 id="informacion">Siguenos</h4>
                    <div class="redes">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="derechos">
        <p>TM © 2024 Kiosco Saludable Corporation. Todos los derechos reservados.</p>
    </div>
</body>




<script src="{{ url_for('static', filename='script.js') }}"></script>

<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

<script src="scripts/script.js"></script>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>