<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosco Saludable</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='img/main/icono.ico') }}">

</head>

<body>

    <!-- NAV SUPERIOR -->

    {% block nav %}{% include 'navbar.html' %}{% endblock %}



    <div class="background-imagen"></div>



    <div class="slider">
        <div class="slide-track">
            {% for _ in range(14) %}
            <div class="slide">
                <img src="{{ url_for('static', filename='img/main/infinito.png') }}" alt="" id="slider">
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="contenedor-categorias">
        <div class="categorias">
            {% for categoria in categorias %}
            <a href="#" class="categoria" onclick="mostrarCategoria( '{{ categoria.id }}' );">{{ categoria.nombre }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="cons">
        {% for categoria in categorias %}
        <div class="Productos" id="categoria-{{ categoria.id }}">
            <h2>{{ categoria.nombre }}</h2>
            <div class="center-div">
                <div class="ctg">
                    <ul class="los-productos">
                        {% for producto in productos if producto.categoria_id == categoria.id %}
                        <li class="column">
                            <div class="mi-product">
                                <div class="imagen-producto">
                                    <img class="el-producto"
                                        src="{{ url_for('static', filename='img/' + producto.imagen | lower | replace(' ', '-')) }}"
                                        alt="{{ producto.nombre }}">
                                </div>
                                <div class="descrip-product">
                                    <button class="btn-ver" onclick="mostrarDescripcion(this)">Ver descripción</button>
                                </div>
                                <div class="info-product">
                                    <p id="name-product">{{ producto.nombre }}</p>
                                    <div class="precio">
                                        <p id="valor-product">${{ producto.precio }}</p>
                                        <form action="/carrito/agregar" method="post">
                                            <input type="hidden" name="producto_id" value="{{producto.id}}" hidden>
                                            <button class="btn-comprar" type="submit">Añadir <i
                                                    class="fa-solid fa-basket-shopping"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <p class="PS">
                                <span class="cocoro"></span>
                                <img src="{{ url_for('static', filename='img/main/corazon.png') }}" id="corazon" alt="">
                                </span> {{ producto.precio // 300 }}
                            </p>


                            <!-- ESTO SE VERA AL DAR CLICK EN VER DESCRIPCION -->
                            
                            <div id="descripcion-producto" class="descripcion-overlay">
                                <div class="descrip-content">
                                    <button onclick="cerrarDescripcion(this.closest('.descripcion-overlay'))"
                                    class="btn-cerrar">&times;
                                </button>
                                <div class="this-product">
                                    <img class="el-producto" id="lol"
                                    src="{{ url_for('static', filename='img/' + producto.imagen | lower | replace(' ', '-')) }}"
                                    alt="{{ producto.nombre }}">
                                    <div class="product-details">
                                        <h2>{{ producto.nombre }}</h2>
                                        <p>Precio: $<span id="precio-unitario-{{ producto.id }}">{{ producto.precio }}</span></p>
                                        <p>PS: <span id="ps-unitario-{{ producto.id }}">{{ producto.precio // 300 }}</span></p>
                                        <div class="quantity-control">
                                            <button class="btn-cantidad" onclick="cambiarCantidadDescripcion('{{ producto.id }}', -1)">-</button>
                                            <span id="cantidad-descripcion-{{ producto.id }}">1</span>
                                            <button class="btn-cantidad" onclick="cambiarCantidadDescripcion('{{ producto.id }}', 1)">+</button>
                                        </div>
                                        <p>Total: $<span id="total-precio-descripcion-{{ producto.id }}">{{ producto.precio }}</span></p>
                                        <p>Total PS: <span id="total-ps-descripcion-{{ producto.id }}">{{ producto.precio // 300 }}</span></p>
                                        <button class="btn-agregar-carrito" onclick="agregarAlCarritoDesdeDescripcion('{{ producto.id }}')">Agregar al carrito</button>
                                    </div>
                                </div>
                                <p class="la-descripcion">{{ producto.descripcion }}</p>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
    {% endfor %}


    <!-- FIN NAV SUPERIOR  -->

    <footer class="footer">
        <div class="container-5">
            <div class="footer-row">
                <div class="footer-link">
                    <h4 id="informacion">Sobre nosotros</h4>
                    <ul>
                        <li><a href="">Nuestra hisotria</a></li>
                        <li><a href="">Nuestra Mision</a></li>
                        <li><a href="">Nuestros productos</a></li>
                        <li><a href="">Trabaja con nosotros</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <h4 id="informacion">Impacto social</h4>
                    <ul>
                        <li><a href="">Sustentabilidad</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <h4 id="informacion">Información</h4>
                    <ul>
                        <li><a href="">Contános</a></li>
                        <li><a href="">Preguntas frecuentes</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <h4 id="informacion">Siguenos</h4>
                    <div class="redes">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="derechos">
        <p>TM © 2024 Kiosco Saludable Corporation. Todos los derechos reservados.</p>
    </div>
</body>




<script src="{{ url_for('static', filename='script.js') }}"></script>

<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

<script src="scripts/script.js"></script>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>