<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kiosco Saludable</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="icon" href="{{ url_for('static', filename='img/main/icono.ico') }}">

</head>

<body>

    <!-- NAV SUPERIOR -->

    <nav class="navbar">
        <div class="navbar-left">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='img/main/logo.png') }}" alt="Logo" class="logo">
            </a>
        </div>
        <div class="navbar-center">
            <ul>
                <li class="menu-container">
                    <a id="link-index" href="{{ url_for('index') }}" onclick="activateLink('link-index')">INICIO</a>
                </li>
                <li class="menu-container">
                    <a id="link-product" href="{{ url_for('productos') }}" onclick="activateLink('link-product')">PIDE
                        AQUI</a>
                </li>
                <li class="menu-container">
                    <a id="link-contact" href="{{ url_for('contact') }}"
                        onclick="activateLink('link-contact')">CONTACTANOS</a>
                </li>
                <li class="menu-container"></li>
                    <a id="link-plans" href="{{ url_for('planes') }}"
                        onclick="activateLink('link-plans')">PLANES</a>
                </li>
            </ul>
        </div>
        {% if user %}
        <div class="navbar-right">
            <div class="usuario">
                <div id="perfil">
                    <button id="btn-perfil">
                        <div class="textt">
                            <i class="fa-solid fa-user"></i>
                        </div>
                        <div class="textx">
                            <img src="{{ url_for('static', filename='img/main/corazon.png') }}" alt="" id="corazon">
                            <h6 class="minus">{{ user.ps }}</h6>
                        </div>
                    </button>
                    <button id="btn-carrito">
                        <i class="fa-solid fa-basket-shopping"></i>
                        <div id="cantidad-carrito">
                            <p id="num-cant">2</p>
                        </div>
                    </button>
                </div>
            </div>
            <div id="user-name">
                {% if user %}
                <h3>{{ session['username'] }}</h3>
                {% endif %}
            </div>
        </div>
        {% else %}
        <div class="navbar-right">
            <div class="usuario">
                <div id="perfil">
                    <div class="text">
                        <h3>GANA</h3>
                        <h6 class="minus">PUNTOS</h6>
                    </div>
                    <div>
                        <img src="{{ url_for('static', filename='img/main/corazon.png') }}" alt="" id="corazon">
                    </div>
                    <div class="text">
                        <h3>UNETE</h3>
                        <h6 class="minus">AQUI</h6>
                    </div>
                </div>
                <div class="login">
                    <a href="{{ url_for('cuenta') }}"><button class="btnn">Registrarse</button></a>
                </div>
            </div>
        </div>
        {% endif %}
    </nav>

    {% if user%}
    <!-- Contenedor para el perfil del usuario -->
    <div id="menu-containerr" class="menu-container">
        <div class="contentt" id="mobile-menu-2">
            <div class="navbarr">
                <div class="navbar-rightt">
                    <div class="usuario">
                        <div id="perfil">
                            <button id="btn-perfill">
                                <div class="textt">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                                <div class="textx">
                                    <img src="{{ url_for('static', filename='img/main/corazon.png') }}" alt=""
                                        id="corazon-2">
                                    {% if user %}
                                    <h6 class="minus">{{ user.ps }}</h6>
                                    {% endif %}
                                </div>
                            </button>
                            <button id="btn-carritor">
                                <i class="fa-solid fa-basket-shopping"></i>
                                <div id="cantidad-carrito">
                                    <p id="num-cantr">2</p>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div id="user-name">
                        {% if user %}
                        <h3>{{ session['username'] }}</h3>
                        {% endif %} <p>EDITAR</p>
                    </div>
                </div>
                <div class="navbar-centerr">
                    <ul class="centrar-ul">
                        <li class="menu-container-"><a href="{{ url_for('index') }}">INICIO</a></li>
                        <li class="menu-container-"><a href="{{ url_for('productos') }}">PIDE AQUI</a></li>
                        <li class="menu-container-"><a href="{{ url_for('contact') }}">CONTACTANOS</a></li>
                        <li>
                            <ul class="centrar-ul">
                                <li>
                                    <p>AQUI TU CODIGO QR</p>
                                </li>
                                <li>
                                    <a href="" id="codigo_qr">
                                        <img src="{{ url_for('static', filename='img/qr/' + session['qr'] + '.png') }}"
                                            alt="Código QR" id="qr">
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <form action="{{ url_for('logout') }}" method="post">
                                <button type="submit" class="logout">
                                    <p>Cerrar Sesion</p>
                                </button>
                            </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- Contenedor para el carrito de productos -->
    <div id="menu-containerrr" class="menu-container">
        <div class="contentt" id="mobile-menu-3">
            <div class="navbarr">
                <div class="navbar-rightt">
                    <div class="usuario">
                        <div id="perfil">
                            <button id="btn-perfillr">
                                <div class="textt">
                                    <i class="fa-solid fa-user"></i>
                                </div>
                                <div class="textx">
                                    <img src="{{ url_for('static', filename='img/main/corazon.png') }}" alt=""
                                        id="corazon-2">
                                    {% if user %}
                                    <h6 class="minus">{{ user.ps }}</h6>
                                    {% endif %}
                                </div>
                            </button>
                            <button id="btn-carritorr">
                                <i class="fa-solid fa-basket-shopping"></i>
                                <div id="cantidad-carrito">
                                    <p id="num-cantrr">2</p>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div id="user-name">
                        {% if user %}
                        <h3>{{ session['username'] }}</h3>
                        {% endif %}
                        <p>EDITAR</p>
                    </div>
                </div>
                {% if session['carrito_items'] %}
                <div class="navbar-centerr">
                    <div class="centrar-ul">
                        <li>PRODUCTOS</li>
                        {% for item in session['carrito_items'] %}
                        <li>{{ item.nombre }} ({{ item.cantidad }}) - {{ item.precio * item.cantidad // 300 }}</li>
                        <!-- aqui quiero mostrar los ps que dara el producto --> 
                        {% endfor %}
                        <li>
                            <form action="/carrito/confirmar" method="post">
                                <p> Precio final:{{ session.precio_final }} - Total de ps {{ session.total_ps }}</p> <!--aqui quiero mostrar el precio final y el total de puntos que sumara con la compra--> 
                                <button type="submit" class="logout">
                                    <p>CONFIRMAR COMPRA</p>
                                </button>
                            </form>
                        </li>
                    </div>
                </div>
                {% else %}
                <p>El carrito está vacío</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% endif%}




    <nav class="nav-superior" id="menu-mobile">
        <div class="navbar-left-">
            <a href="">
                <img src="{{ url_for('static', filename='img/main/logo.png') }}" alt="Logo" class="logo-">
            </a>
        </div>
        <ion-icon name="menu-outline" class="toggle-button" onclick="mostrar()"></ion-icon>
    </nav>


    {% block content %}{% endblock %}
    <div class="content" id="mobile-menu">
        <div class="navbar-">
            {% if user %}
            <div class="navbar-right-">
                <div class="usuario">
                    <div id="perfil">
                        <button onclick="perfil_usuario()" id="btn-perfil">
                            <div class="textt">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <div class="textx">
                                <img src="{{ url_for('static', filename='img/main/corazon.png') }}" alt=""
                                    id="corazon-">
                                <h6 class="minus">{{ user.ps }}</h6>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
            <div id="user-name">
                <h3>{{ session['username'] }}</h3>
            </div>
            {% else %}
            <div class="navbar-">
                <div class="parabajo">
                    <div class="usuario">
                        <div id="perfil">
                            <div class="text">
                                <h3>GANA</h3>
                                <h6 class="minus">PUNTOS</h6>
                            </div>
                            <div>
                                <img src="{{ url_for('static', filename='img/main/corazon.png') }}" alt="" id="corazon">
                            </div>
                            <div class="text">
                                <h3>UNETE</h3>
                                <h6 class="minus">AQUI</h6>
                            </div>
                        </div>
                        <div class="login">
                            <a href="{{ url_for('cuenta') }}"><button class="btnn">Registrarse</button></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endif%}
        </div>
        <div class="navbar-center-">
            <ul>
                <li class="menu-container-"><a href="{{ url_for('index') }}">INICIO</a></li>
                <li class="menu-container-"><a href="{{ url_for('productos') }}">PIDE AQUI</a></li>
                <li class="menu-container-"><a href="{{ url_for('contact') }}">CONTACTANOS</a></li>
            </ul>
        </div>
    </div>



    <div class="background-imagen"></div>



    <div class="slider">
        <div class="slide-track">
            {% for _ in range(14) %}
            <div class="slide">
                <img src="{{ url_for('static', filename='img/main/infinito.png') }}" alt="" id="slider">
            </div>
            {% endfor %}
        </div>
    </div>


    <div class="contenedor-categorias">
        <div class="categorias">
            {% for categoria in categorias %}
            <a href="#" class="categoria" onclick="mostrarCategoria( '{{ categoria.id }}' );">{{ categoria.nombre }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="cons">
        {% for categoria in categorias %}
        <div class="Productos" id="categoria-{{ categoria.id }}">
            <h2>{{ categoria.nombre }}</h2>
            <div class="center-div">
                <div class="ctg">
                    <ul class="los-productos">
                        {% for producto in productos if producto.categoria_id == categoria.id %}
                        <li class="column">
                            <div class="mi-product">
                                <div class="imagen-producto">
                                    <img class="el-producto"
                                        src="{{ url_for('static', filename='img/' + producto.imagen | lower | replace(' ', '-')) }}"
                                        alt="{{ producto.nombre }}">
                                </div>
                                <div class="descrip-product">
                                    <button class="btn-ver" onclick="mostrarDescripcion(this)">Ver descripción</button>                                </div>
                                </button>
                                <div class="info-product">
                                    <p id="name-product">{{ producto.nombre }}</p>
                                    <div class="precio">
                                        <p id="valor-product">${{ producto.precio }}</p>
                                        <form action="/carrito/agregar" method="post">
                                            <input type="hidden" name="producto_id" value="{{producto.id}}" hidden>
                                            <button class="btn-comprar" type="submit">Añadir <i
                                                    class="fa-solid fa-basket-shopping"></i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <p class="PS">
                                <span class="cocoro"></span>
                                <img src="{{ url_for('static', filename='img/main/corazon.png') }}" id="corazon" alt="">
                                </span> {{ producto.precio // 300 }}
                            </p>
                            <div id="descripcion-producto" class="descripcion-overlay">
                                <div class="descrip-content">
                                    <button onclick="cerrarDescripcion(this.closest('.descripcion-overlay'))" class="btn-cerrar">&times;</button>
                                    
                                    <div class="this-product">
                                        <img class="el-producto" id="lol"
                                             src="{{ url_for('static', filename='img/' + producto.imagen | lower | replace(' ', '-')) }}"
                                             alt="{{ producto.nombre }}">
                            
                                        <div class="product-details">
                                            <h2>{{ producto.nombre }}</h2>
                                            <p>Precio: ${{ producto.precio }}</p>
                                            <p>PS: {{ producto.precio // 300 }}</p>
                                            <div class="quantity-control">
                                                <button class="btn-cantidad" onclick="disminuirCantidad()">-</button>
                                                <span id="cantidad">1</span> 
                                                <button class="btn-cantidad" onclick="aumentarCantidad()">+</button>
                                            </div>
                            
                                            <p>Total: <span id="total-precio">${{ producto.precio }}</span> (PS: <span id="total-ps">{{ producto.precio // 300 }}</span>)</p>
                            
                                            <button class="btn-agregar-carrito">Agregar al carrito</button>
                                        </div>
                                    </div>
                            
                                    <p class="la-descripcion">{{ producto.descripcion }}</p>
                                </div>
                            </div>
                            
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>


    <!-- FIN NAV SUPERIOR  -->

    <footer class="footer">
        <div class="container-5">
            <div class="footer-row">
                <div class="footer-link">
                    <h4 id="informacion">Sobre nosotros</h4>
                    <ul>
                        <li><a href="">Nuestra hisotria</a></li>
                        <li><a href="">Nuestra Mision</a></li>
                        <li><a href="">Nuestros productos</a></li>
                        <li><a href="">Trabaja con nosotros</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <h4 id="informacion">Impacto social</h4>
                    <ul>
                        <li><a href="">Sustentabilidad</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <h4 id="informacion">Información</h4>
                    <ul>
                        <li><a href="">Contános</a></li>
                        <li><a href="">Preguntas frecuentes</a></li>
                    </ul>
                </div>
                <div class="footer-link">
                    <h4 id="informacion">Siguenos</h4>
                    <div class="redes">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="derechos">
        <p>TM © 2024 Kiosco Saludable Corporation. Todos los derechos reservados.</p>
    </div>
</body>




<script src="{{ url_for('static', filename='script.js') }}"></script>

<script src="{{ url_for('static', filename='scripts/script.js') }}"></script>

<script src="scripts/script.js"></script>


<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

</html>