* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'monserrat', sans-serif;
    background-color: #021F47;
    min-height: 100%;
    margin: 2vw 10% 10% 10%;
}
.container {
    position: relative;
    width: 76.8vw;
    max-width: 100%;
    min-height: 480px;
    background: #fff;
    border-radius: 1vw;
    overflow: hidden;
    box-shadow: 0 1.4vw 2.8vw rgba( 0,0,0,0.25),
                0 1vw 1vw rgba( 0,0,0,0.22);
}

.sing-up, .sing-in {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sing-up {
    width: 50%;
    opacity: 0;
    z-index: 1;
}

.sing-in {
    width: 50%;
    z-index: 2;
}

form {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5vw;
    height: 100%;
    max-height: 100%;
    text-align: center;
}

h1 {
    font-weight: bold;
    margin: 0;
    font-size: 4vw;
}

p {
    font-size: 1.4vw;
    font-weight: 100;
    line-height: 2vw;
    letter-spacing: 0.05 vw;
    margin: 1.5vw 0 2vw;
}

input {
    background-color: #eee;
    padding: 1.2vw 1.5vw;
    margin: 0.8vw 1.5vw;
    border-radius: 0.5vw;
    border: none;
    outline: none;
}

a {
    color: #333;
    font-size: 1.4vw;
    text-decoration: none;
    margin: 1.5vw 0;
}

button {
    color: #fff;
    background-color: #021F47;
    font-size: 1.2vw;
    font-weight: bold;
    padding: 1.2vw 5.5vw; 
    margin: 2vw;
    border-radius: 2vw;
    border: 0.1vw solid #021F47;
    outline: none;
    letter-spacing: 0.1vw;
    text-transform: uppercase;
    transition: transform 0.80ms ease-in;
    cursor: pointer;  
}

button:active {
    transform: scale(0.90);
}

#singIn, #singUp {
    background-color: transparent;
    border: 0.2vw solid #fff;
}

.container.right-panel-active .sing-in{
    transform: translateX(100%);
}

.container.right-panel-active .sing-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    position: relative;
    color: #fff;
    background-color: #021F47;
    left: -100%;
    height: 100%;
    width: 200%;
    background: linear-gradient(to right, #021F47, #0f2586);
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);

}

.overlay-left, .overlay-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 4vw;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
}

.overlay-left{
    transform: translateX(-20%);
}

.overlay-right{
    right: 0;
    transform: translateX(0);
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.social-container a {
    height: 4vw;
    width: 4vw;
    margin: 0 0.5vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 0.1vw solid #ccc;
    border-radius: 50%;
}


.salida button {
    margin: 0.5vw 1vw;
    background-color: #fff;
    color: #021F47;
    margin-bottom: 2vw;
}

@media (min-width: 1000px) {
    button, p {
        margin: 0.5vw;
    }
    .container {
        height: 40vw;
    }
}
@media (max-width: 1000px) {
    input {
        width: 20vw;
    }
    
    body {
        margin: 0 !important;
    }
    form, .overlay-right, .overlay-left {
        padding: 1vw;
    }
    form {
        justify-content: space-evenly;
        height: 50vw;
        margin-top: 100%;
    }
    form input {
        font-size: 2vw;
    }
    button {
        font-size: 2vw;
    }
    p {
        font-size: 2vw;
        margin-left: 2vw;
        margin-right: 2vw;
    }
    
}