* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    background-color: #021F47;
    min-height: 100vh;
    margin: 2vw 10%;
}

.container {
    position: relative;
    width: 80%;
    max-width: 100%;
    min-height: 480px;
    background: #fff;
    border-radius: 1vw;
    overflow: hidden;
    box-shadow: 0 1.4vw 2.8vw rgba(0, 0, 0, 0.1);
}

.auth-form {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.sing-up {
    opacity: 0;
    z-index: 1;
}

.sing-in {
    z-index: 2;
}

form {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 5vw;
    height: 100%;
    text-align: center;
}

h1 {
    font-weight: bold;
    font-size: 2vw;
}

p {
    font-size: 1vw;
    font-weight: 100;
    margin: 1.5vw 0 2vw;
}

input {
    background-color: #eee;
    padding: 1vw 1.2vw;
    margin: 0.5vw 0;
    border-radius: 0.5vw;
    border: none;
    outline: none;
    font-size: 0.9vw;
}

button {
    color: #fff;
    background-color: #021F47;
    font-size: 1vw;
    font-weight: bold;
    padding: 0.8vw 3.5vw;
    margin: 1.5vw;
    border-radius: 1.5vw;
    border: none;
    cursor: pointer;
    transition: transform 0.8ms ease-in;
}

button:active {
    transform: scale(0.95);
}

#singIn, #singUp {
    background-color: transparent;
    border: 0.2vw solid #fff;
}

.container.right-panel-active .sing-in {
    transform: translateX(100%);
}

.container.right-panel-active .sing-up {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 100;
}

.container.right-panel-active .overlay-container {
    transform: translateX(-100%);
}

.overlay {
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    background: linear-gradient(to right, #021F47, #0f2586);
    color: #fff;
    transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
    transform: translateX(50%);
}

.overlay-left, .overlay-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 2vw;
    text-align: center;
    top: 0;
    height: 100%;
    width: 50%;
}

.overlay-left {
    transform: translateX(-20%);
}

.overlay-right {
    right: 0;
}

.container.right-panel-active .overlay-left {
    transform: translateX(0);
}

.container.right-panel-active .overlay-right {
    transform: translateX(20%);
}

.salida button {
    background-color: #fff;
    color: #021F47;
    margin: 0.5vw 1vw;
    font-size: 0.9vw;
}

@media (max-width: 1000px) {
    body {
        margin: 0;
    }

    form, .overlay-left, .overlay-right {
        padding: 1vw;
    }

    form {
        justify-content: space-evenly;
        margin-top: 100%;
    }

    input, button {
        font-size: 1.5vw;
    }

    p {
        font-size: 1.5vw;
        margin: 0 1vw;
    }
}


.borrar-sesion{
    border-radius: 5%;
    padding: 10px;
    margin: 10px;
}