* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    background-color: #021F47;
    font-family: 'monserrat', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
}

/* ------------------- */
/* DETALLES GENERALES  */
/* ------------------- */

ul,
ol,
a,
li {
    text-decoration: none;
    list-style: none;
}

h1 {
    font-size: 3vw;
}

a {
    font-size: 1.4vw;
}

h2 {
    font-size: 2vw;
}

h3 {
    font-size: 1.6vw;
}

p {
    font-size: 2vw;
}

h6 {
    font-size: 1vw;
}

button {
    border: none;
}

section {
    margin-left: 18%;
    margin-right: 18%;
    margin-top: 2vw;
}

/* ------ */
/* NAVBAR */
/* ------ */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: #fff;
}

.navbarr {
    height: auto;
}

.navbar-left .logo {
    max-width: 20vw;
}

.navbar-center ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-center li {
    margin: 0 10px;
}

.navbar-center a {
    color: #fff;
    text-decoration: none;
}

.navbar-right {
    display: flex;
    flex-direction: column;
    width: 15vw;
    align-items: center;
}



.usuario,
.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

#perfil {
    display: flex;
    align-items: center;
}

#btn-perfil {
    background-color: #021127;
    border-bottom-left-radius: 2vw;
    border-top-left-radius: 2vw;
    display: flex;
    padding: 1vw;
    cursor: pointer;
}

#corazon {
    width: 2vw;
    margin: 0 10px;
}

#user-name {
    margin-top: 0.8vw;
}

#user-name {
    display: flex;
    align-items: center;
    align-self: center !important;
    text-align: center;
}

#user-name p {
    font-size: 1vw;
    margin: 0.5vw;
}

.nav-superior {
    display: none;
}

/* ----------- */
/* MENU MOBILE */
/* ----------- */



.menu-container a {
    color: #fff;
    font-size: 1.5vw;
}

.content {
    display: none;
}



/*  */

#menu-containerr {
    position: fixed;
    top: 0;
    right: -250vw;
    width: auto;
    height: 100%;
    background: linear-gradient(to right, #021F47, #021e7b);
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1000;
}

#menu-containerr.open {
    right: 0;
}

.contentt {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.navbar-rightt {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2vw;
}

.navbar-centerr {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80vw;
}

.navbar-centerr li {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

/*  */

.text h3,
.text h6 {
    margin: 0;
}

.text h6.minus {
    font-size: 1vw;
}

.text {
    align-items: center;
    display: flex;
    flex-direction: column;
}


#menu-containerrr {
    position: fixed;
    top: 0;
    right: -250vw;
    width: auto;
    height: 100%;
    background: linear-gradient(to right, #021F47, #021e7b);
    box-shadow: -4px 0 6px rgba(0, 0, 0, 0.1);
    transition: right 0.3s ease;
    z-index: 1000;
}


#menu-containerrr.open {
    right: 0;
}


#mobile-menu-2 {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/*  */

#corazon-2 {
    width: 2vw;
}



#btn-perfill,
#btn-perfillr {
    background-color: #021127;
    border-bottom-left-radius: 2vw;
    border-top-left-radius: 2vw;
    display: flex;
    padding: 1vw;
    cursor: pointer;
}

#btn-perfill i {
    margin-right: 1vw;
}


/* --------- */
/* PRODUCTOS */
/* --------- */

.background-imagen {
    width: 100%;
    height: 20vw;
    position: relative;
    background-image: url('/static/img/productos/Code.jpg');
    background-size: contain;
    background-position: center;
    background-attachment: fixed;
    filter: blur(5px);
}


.los-productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.los-productos li {
    margin-left: 4vw;
    margin-top: 1vw;
}

.contenedor-categorias {
    margin: 0;
    height: 2vw;
}

.categorias {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1vw;
}

.categorias a {
    font-size: 1.2vw;
}

.Productos {
    padding-left: 4vw;
    padding-right: 4vw;
}

.Productos h2 {
    margin-top: 1vw;
    padding-bottom: 1vw;
    border-bottom: 0.2vw solid #fff;
    margin-bottom: 1vw;
}

.center-div {
    display: flex;
    width: 100%;
    justify-content: center;
}

.ctg {
    display: inline-block;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3vw;
}

.el-producto {
    flex: 1;
    width: 10vw;
    height: 10vw;
    border-radius: 1.5vw;
    margin-right: 1vw;
    cursor: pointer;
}

.el-producto:hover {
    opacity: 2vw;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: self-start;
}

.cocoro img {
    width: 2vw;
    height: 2vw;
}

.PS {
    display: flex;
    align-items: center;
    margin-left: 15%;
    margin-top: 3%;
    font-size: 1.5vw;
    font-weight: 2vw;
}

.fa-solid {
    font-size: 2vw;
    border-radius: 100%;
    color: #021F47;
    background-color: #fff;
    padding: 0.8vw;
}

.textx {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.textx h6 {
    margin-top: 0.5vw;
}

.mi-product {
    position: relative;
    display: flex;
}

.imagen-producto {
    position: relative;
    width: 100%;
    height: 100%;
}

.descrip-product {
    transition: opacity 0.5s;
    position: absolute;
    width: 10vw;
    height: 100%;
    display: flex;
    align-items: center;
    opacity: 0;
}

.mi-product:hover .descrip-product {
    opacity: 0.65;
}

.btn-ver {
    width: 10vw;
    height: 10vw;
    border-radius: 2vw;
    text-align: center;
    color: #000000;
    font-weight: 600;
    transition: opacity 0.5s;
    cursor: pointer;
}

.descripcion-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1000;
    justify-content: center;
    align-items: center;
}

.descrip-content {
    background-color: #021127;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    z-index: 1001;
    width: clamp(300px, 80%, 700px);
    height: clamp(300px, 60vh, 700px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.descripcion-overlay.active {
    display: flex;
}

.this-product {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.this-product img {
    width: 25vw;
    height: 25vw;
    border-radius: 10px;
}

.car-el-producto {
    width: 10vw !important;
    height: 10vw;
    border-radius: 1.5vw;
    margin-right: 1vw;
    cursor: pointer;
}

.car-el-producto:hover {
    opacity: 2vw;
}

.product-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.product-details h2 {
    font-size: clamp(18px, 3vw, 24px);
    margin: 0;
    color: #fff;
}

.product-details p {
    margin: 10px 0;
    color: #ffffff;
    font-size: clamp(14px, 2.5vw, 18px);
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 2vw;
    margin: 10px 0;
}

.btn-cantidad {
    background-color: #021127;
    color: #fff;
    border: 2px solid #fff; 
    padding: 10px; 
    font-size: clamp(16px, 3vw, 20px);
    cursor: pointer;
    width: 40px; 
    height: 40px; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease, border-color 0.3s ease; 
}

.carbtn-cantidad {
    background-color: #021127;
    color: #fff;
    border: 2px solid #fff; 
    padding: 10px; 
    font-size: clamp(16px, 3vw, 20px);
    cursor: pointer;
    width: 20px; 
    height: 20px; 
    border-radius: 50%; 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: background-color 0.3s ease, border-color 0.3s ease; 
}

.carbtn-cantidad:hover {
    background-color: #ffffff;
    color: #021127;
    border: 2px solid #0f183f; 
}

.btn-cantidad:hover {
    background-color: #ffffff;
    color: #021127;
    border: 2px solid #0f183f; 
}


#cantidad {
    margin: 0 10px;
    font-size: clamp(16px, 3vw, 20px);
    color: #fff;
}

.btn-agregar-carrito {
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 10px;
    color: #fff;
    padding: 10px;
    font-size: clamp(16px, 3vw, 20px);
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.4s ease, border-color 0.4s ease;
}

.btn-agregar-carrito:hover {
    background-color: rgb(17, 19, 58); 
    border: 2px solid #00c3ff;
}


.btn-cerrar {
    background-color: transparent;
    border: none;
    font-size: clamp(20px, 3vw, 28px);
    font-weight: bold;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    color: #ffffff;
}

.btn-cerrar:hover {
    color: rgb(206, 206, 206);
}

.la-descripcion {
    margin-top: 1vw;
}

/* ---- */
/* MAIN */
/* ---- */

.contenedor {
    margin-top: 5vh;
    height: auto;
}


.container {
    display: flex;
    margin-top: 5vh;
    height: 30vw;
    background-image: url(https://media-public.canva.com/3K3b4/MAFM9n3K3b4/1/tl.jpg);
    background-size: cover;
    background-position: center;
}

.beneficios {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-2 {
    height: 30vw;
    width: 100%;
    background-image: url(https://media-private.canva.com/eA4tA/MAGIsteA4tA/1/s2.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20241022%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20241022T035240Z&X-Amz-Expires=53828&X-Amz-Signature=c430a247a6804a80ec715510856943061f0be037f63d6f6590960acb523d68c2&X-Amz-SignedHeaders=host%3Bx-amz-expected-bucket-owner&response-expires=Tue%2C%2022%20Oct%202024%2018%3A49%3A48%20GMT);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 10vw;
    padding-right: 2vw;
}

.minimini {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.minimini p {
    margin-top: 1vw;
    color: #fff;
    font-size: 2em;
}

.container-2 * {
    color: #2d475c;
}

.register-2 {
    border: none;
    background-color: aliceblue;
    color: #021F47;
    margin-top: 2vw;
    padding: 0.5vw 2vw;
    border-radius: 1vw;
}

.container-2 img {
    width: 10vw;
}

.container-2 div {
    flex: 1;
    align-items: center;
    text-align: center;
}

.main-img img {
    flex: 1;
    height: 100%;
    width: 100%;
}

.info {
    flex: 3;
    display: flex;
    flex-direction: column;
}

.info-2 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin-left: 5vw;
    margin-bottom: 3vw;

}

.btnn {
    color: #021F47;
    background-color: #fff;
    font-size: 0.8em;
    font-weight: bold;
    padding: 1.2vw 2vw;
    margin: 1vw 2vw 0vw 2vw;
    border-radius: 2vw;
    border: none;
    outline: none;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 0.80ms ease-in;
    cursor: pointer;
}

.btnn:active {
    transform: scale(0.90);
}

.animacion {
    color: #021F47;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;
}

a.active {
    background-color: #fff;
    color: #021F47;
    padding: 1vw;
    border-radius: 2vw;
}

.frutas {
    max-width: 10vw;
}

.info-info {
    height: auto;
    max-width: 25vw;
    padding: 0vw 5vw 0vw 0vw;
}

.info-prin {
    height: auto;
    padding: 5vw 0vw 0vw 5vw;
}

.diseño {
    max-width: 20vw;
}

#tuti {
    max-width: 50vw;
}

/* ------------- */
/*               */
/* REGISTRO USER */
/*               */
/* ------------- */

.register {
    background-color: #fff;
    color: #021F47;
    width: 100%;
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
    border: none;
    text-decoration: none;
    margin-top: 1vh;
}

#name-product {
    text-align: center;
    max-width: 15vw;
}


/* ------- */
/*         */
/* SLIDER  */
/*         */
/* ------- */

.slider {
    max-width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider .slide-track {
    display: flex;
    animation: scroll 30s linear infinite;
    width: calc(20vw * 14);
}

.slider .slide {
    width: 20vw;
}

.slider .slide img {
    max-width: 100%;
    height: auto;
}

/* Animación */
@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-20vw * 7));
    }
}


/* ------- */
/*         */
/* FOOTER  */
/*         */
/* ------- */

.container-5 {
    max-width: 120vw;
    margin: 0 auto;
    display: flex;
    align-self: flex-end;
}

.footer {
    background-color: #01122a;
    display: flex;
    width: 100%;
    margin-top: 3vw;
    min-height: 100px;
    padding-top: 2vh;
    padding-bottom: 2vh;
    top: 100%;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-link {
    width: 25%;
    padding: 0 1.5vw;
}

.footer-link h4 {
    font-size: 1.6em;
    color: #fff;
    font-weight: 500;
    border-bottom: 0.2vw solid #00c3ff;
    padding-bottom: 1vw;
    display: inline-block;
}

.footer-link ul li a {
    font-size: 1em;
    text-decoration: none;
    list-style-type: none;
    color: #fff;
    display: block;
    margin-top: 1vw;
    margin-bottom: 1.5vw;
    transition: all .3s ease;
}

.footer-link ul li a:hover {
    color: #fff;
    padding-left: 0.6vw;
}

.redes a {
    display: inline-block;
    min-width: 4vw;
    width: 4vw;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0 1vw 1vw 0;
    text-align: center;
    margin-top: 1vw;
    line-height: 4vw;
    border-radius: 50%;
    color: #fff;
    transition: all .5s ease;
}

.redes a:hover {
    background-color: #00c3ff;
}

.derechos {
    background-color: #01122a;
    text-align: center;
    padding-bottom: 1vh;
}

.derechos p {
    font-size: 0.9em;
}

/* ----------- */
/*             */
/* CONACTO CSS */
/*             */
/* ----------- */

.container-contact {
    display: flex;
    align-items: center;
    position: sticky;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 5vw;
    padding-bottom: 5vw;
    margin-top: 1vw;
    background-color: #021127;
}

.flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.centrar {
    margin-top: 2vw;
}

.container-contact-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 18%;
    padding-right: 18%;
    padding-top: 1vw;
}

.container-contact-info p,
a {
    font-size: 1.5vw;
}

.container-contact-info a {
    text-decoration: underline;
}

.logotipo {
    background-color: #01122a;
    width: 20vw;
    margin-top: 2vw;
}


.questions-container {
    margin: 0 auto;
}

.question {
    border-bottom: 1px solid #fff;
}

.preguntas {
    width: 100%;
    background-color: #021F47;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw 1.5vw;
    border: none;
    outline: none;
    font-size: 1.6vw;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.question p {
    font-size: 1.5vw;
    max-height: 0;
    opacity: 0;
    line-height: 1.5;
    overflow: hidden;
    transition: all 0.6s ease;
}

.question p.show {
    max-height: 100%;
    opacity: 1;
    padding: 0 1.5vw 3vw 1.5vw;
}

.d-arrow {
    transition: transform 0.5s ease-in;
    color: #fff;
    background-color: #021F47;
}

.preguntas .d-arrow.rotate {
    transform: rotate(180deg);
}

.p {
    display: flex;
    flex-direction: column;
}

.respuesta {
    margin-top: 1vw;
}

.lista {
    font-size: 2vw;
    margin-top: 1;
}

.centrar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.wrapper {
    max-width: 60vw;
    width: 100%;
    background: #ffffff;
    padding: 2.5vw;
    border-radius: 0.5vw;
    box-shadow: 0.4vw 0.4vw 0.2vw rgb(0, 0, 0);
}

.wrapper h2 {
    text-align: center;
    margin-bottom: 2vw;
    text-transform: uppercase;
    letter-spacing: 0.3vw;
    color: #332902;
}

.wrapper .input_field {
    margin-bottom: 1vw;
}

.wrapper .input_field input,
.wrapper textarea {
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: 1vw;
}

.wrapper textarea {
    resize: none;
    height: 8vw;
}

input {
    color: #01122a;
}

.wrapper .btn input[type="submit"] {
    border: 0px;
    margin-top: 1.5vw;
    padding: 1vw;
    text-align: center;
    width: 100%;
    background: #021e7b;
    color: #ffffff;
    letter-spacing: 0.5vw;
    font-weight: bold;
    border-radius: 0.5vw;
    cursor: pointer;
}

#error_message {
    margin-bottom: 2vw;
    background: #fe8b8e;
    padding: 0;
    text-align: center;
    font-size: 1.4vw;
    transition: all 0.5s ease;
}

.centrar-ul {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 1vw;
    margin-right: 1vw;
}

.centrar-ull {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 1vw;
}

.centrar-ull h2 {
    border-bottom: 2px solid  #f0f0ff;
    width: 100%;
    border-radius: 20px;
    padding-bottom: 2vw;
}
.centrar-ul a {
    font-size: 1vw;
}

.centrar-ul p {
    font-size: 1.5vw;
}

#qr {
    width: 10vw;
    height: 10vw;
    border-radius: 2vw;
    border: 3px solid black;
}

.logout {
    background-color: #021127;
    border: 0.5px solid #fff;
    border-radius: 2vw;
    padding: 1vw 2vw;
}

#btn-carrito,
#btn-carritor,
#btn-carritorr {
    background: linear-gradient(to right, #021127, #2d475c);
    width: 5vw;
    height: 5.7vw;
    margin-left: -1px;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fa-basket-shopping {
    background-color: none;
    font-size: 2vw;
}

.carrito-container {
    max-height: 400px; 
    width: 100%;
    overflow-y: auto; 
    border-radius: 8px; 
    padding: 10px; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
}

.carContent {
    display: flex;
    align-items: center;
    margin: 10px 0;
    padding: 10px; 
    border: 2px solid #f0f0ff;
    border-radius: 20px; 
}

.confirm * {
    font-size: 1em;
}
.confirm {
    border-top: 2px solid  #f0f0ff;
    border-radius: 20px;
    padding-top: 1vw;
}

.totales {
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.totales p {
    font-size: 1.3em;
}

.comprarr {
    width: 28em;
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.carInfo {
    display: flex;
    flex-direction: column;
}

.carInfo h3 {
    margin: 0;  
    font-size: 1.2em; 
    color: #ffffff; 
}

.carInfo li {
    list-style: none;
    margin: 5px 0;
    font-size: 0.9em;
    color: #ffffff; 
}

.carrito-container::-webkit-scrollbar {
    width: 8px; 
}

.carrito-container::-webkit-scrollbar-thumb {
    background-color: #000;
}

#cantidad-carrito {
    background-color: red;
    margin-left: -1vw;
    margin-top: -1vw;
    border-radius: 100%;
}

#num-cant,
#num-cantr,
#num-cantrr {
    font-size: 1vw;
    padding: 0.4vw;
}

.info-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-between;
}

.info-product p {
    font-size: 1.3vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.btn-comprar i {
    background-color: #021127;
    color: #fff;
    font-size: 1.3vw;
}

.btn-comprar {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1vw;
    width: 10vw;
    background-color: #021127;
    border: 1px solid #fff;
    border-radius: 1vw;
    margin-top: 0.5vw;
    padding-left: 1vw;
    cursor: pointer;
}

.precio {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.descrip-product {
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: absolute;

}



/* ---------------- */
/* PANTALLA CELULAR */
/* ---------------- */

@media (max-width: 768px) {
    .los-productos {
        display: flex !important;
        justify-content: space-evenly;
        align-items: center;
    }

    .mi-product {
        margin-top: 8vw !important;
    }

    #name-product {
        font-size: 2vw;
        align-items: center;
        align-self: center;
        text-align: center;
        max-width: 20vw;
    }

    .precio button {
        font-size: 4vw;
        width: 100%;
        height: 100%;
    }

    .precio button i {
        margin-right: 2vw;
        font-size: 3vw !important;
    }

    #valor-product {
        font-size: 3.6vw;
    }
}

@media (max-width: 768px) {
    body {
        margin-top: 11vw;
        color: #fff;
    }

    .parabajo {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    ul,
    ol,
    a {
        text-decoration: none;
        list-style: none;
    }

    .categorias a {
        font-size: 2vw !important;
        margin-top: 2vw;
    }

    .navbar-center,
    .navbar-right,
    .navbar-left {
        display: none;
    }

    .info {
        max-height: 100%;
    }

    .info-2 h2 {
        max-width: 100%;
    }

    #menu-mobile {
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        color: #fff;
        padding: 1vw;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 1000;
        background-color: #021F47;
    }

    .los-productos li {
        margin-left: 2vw;
        margin-top: 1vw;
    }

    .toggle-button {
        font-size: 4.5vw;
        cursor: pointer;
    }

    .usuario- {
        margin-bottom: 0vw;
    }

    .usuario,
    .login {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    #mobile-menu {
        display: none;
        position: fixed;
        padding-top: 3vh;
        height: 100%;
        top: 10vw;
        left: 0;
        width: 100%;
        justify-content: center;
        z-index: 999;
        background-color: #021F47;
    }

    .show-mobile-menu #mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .navbar- {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .navbar- h3 {
        font-size: 6vw;
    }

    .navbar- h6 {
        font-size: 4vw;
    }

    .navbar-center- a {
        font-size: 4vw;
    }

    .login- a {
        font-size: 4vw;
    }

    .navbar-right- {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5vw;
    }

    #slider-infinito {
        height: 7vw;
        width: 100%;
    }

    .navbar-center ul {
        flex-direction: row;
        overflow-x: auto;
        white-space: nowrap;
    }

    .logo- {
        width: 25vw;
    }

    #perfil {
        margin-top: 3vw;
        margin-bottom: 5vw;
        display: flex;
        justify-content: space-evenly;
        width: 100%;
    }

    #corazon- {
        width: 9vw;
        margin: 1vw;
    }

    .textx {
        display: flex;
        flex-direction: column;
        height: 20vw;
        align-items: center;
    }

    .menu-container- {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10vw;
    }

    .content {
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 100%;

    }


    .Productos {
        width: 100%;
        padding: 0 1.5vw;
    }

    .ctg {
        width: 90% !important;
    }

    .Productos .ctg {
        display: inline-block;
    }

    .Productos .ctg a img {
        max-width: 30vw;
        min-width: 15vw !important;
        min-height: 15vw;
    }

    .btn-comprar i {
        background-color: #021127;
        color: #fff;
        padding: 0 !important;
        font-size: 1.5vw !important;
        margin-left: 1vw;
    }

    .btn-comprar {
        height: 3vw;
    }


    .cons {
        margin-top: 4vw;
        display: flex;
        flex-wrap: wrap;
    }

    .text- {
        color: #fff;
    }

    .footer-row {
        text-align: center;
    }

    .footer-link {
        width: 100%;
        margin-bottom: 4vw;
    }

    .footer-link * {
        font-size: 3vw;
    }

    #informacion {
        font-size: 4vw;
    }

    .ctg a,
    .el-producto {
        display: inline-block;
        min-width: 15vw;
        min-height: 15vw;
        text-align: center;
        line-height: 4vw;
        cursor: auto;
    }
    
    #lol {
        width: 100vw !important;
    }

    #user-name h3 {
        font-size: 6vw !important;
        margin-top: -4vw !important;
    }

    .fa-solid {
        font-size: 10vw !important;
        padding: 4vw !important;
    }

    /* ---------------- */
    /*                  */
    /* PANTALLA CELULAR */
    /*                  */
    /* ---------------- */

    .plans {
        display: flex;
        flex-direction: column;
        margin: 0 !important;
        width: 60vw;
    }

    .plans .plan {
        width: 100% !important;
        height: 60vw;
    }

    .navbar h3,
    .navbar h6 {
        font-size: 0.9rem;
    }

    .plan button {
        font-size: 0.8rem;
    }

    .plan p {
        font-size: 3vw !important;
    }

    .plan li {
        font-size: 3vw;
    }
}

/* ---------------- */
/*                  */
/* PANTALLA CELULAR */
/*                  */
/* ---------------- */

.pricing-plans {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.plan-content {
    font-family: 'Arial', sans-serif;
    background-color: #021F47;
    color: #ffffff;
    text-align: center;
    margin: 0;
    padding: 0;
}

.plan-content h1 {
    margin-bottom: 3vw;
    font-size: 3vw;
}

.plans {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin: 0 auto;
    padding: 2vw 0vw;
    max-width: 120vw;
}

/* Estilos generales de las tarjetas */
.plan {
    background-color: #1e2247;
    padding: 3vw;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.price {
    font-size: 1.8vw !important;
}

.plan:hover {
    transform: translateY(-1vw);
}

.plan h2 {
    color: #ffffff;
    font-size: 24px;
}

.plan p {
    color: #b0b3c6;
    font-size: 1.5vw;
}

.plan .price {
    font-size: 28px;
    color: #ffffff;
    margin: 2vw 0;
}

.plan .price span {
    font-size: 3.6vw;
    font-weight: bold;
}

.plan-content ul {
    list-style-type: none;
    padding: 0;
}

.plan-content ul li {
    margin: 1vw 0;
    color: #d1d1e0;
}

.plan-content a {
    text-decoration: none;
}

.plan-button {
    background-color: #5865f2;
    color: #fff;
    border: none;
    padding: 1vw 2vw;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.plan-content button:hover {
    background-color: #4755c7;
}

/* Plan Destacado */

.plans .plan.popular,
.plan.basic,
.plan.premium {
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.popular,
.marg {
    margin: 1vw 0vw;
    list-style: inside;
}

.basic,
.marg {
    margin: 1vw 0vw;
    list-style: inside;
}

.premium,
.marg {
    margin: 1vw 0vw;
    list-style: inside;
}

.plan.popular {
    border: 3px solid #40f2fe;
    position: relative;
}

.plan.popular .most-popular {
    position: absolute;
    top: -15px;
    right: 2vw;
    background-color: #40f2fe;
    color: #000;
    padding: 5px 1vw;
    border-radius: 5px;
    font-weight: bold;
}


.main-plans {
    background-color: #0d0f2a;
    padding-top: 1vw;
}

/* Plan Premium */
.plan.premium {
    border: 3px solid #ffd700;
}